<h1>{{["Create customer","Edit Customer: "+customer.name][(customer.id>0)+0]}}</h1>
<form name="editForm" class="forms">
    <label>
        Name
        <input type="text" name="name"
                ng-model="customer.name"
                ng-class="{'input-error': editForm.name.$invalid, 'input-success': editForm.name.$valid}"
                required class="width-50">
    </label>
    <label>
        Email <span class="error" ng-show="editForm.email.$error.unique">Email already in use</span>
        <input type="email" name="email" 
                ng-model="customer.email"
                ng-class="{'input-error': editForm.email.$invalid, 'input-success': editForm.email.$valid}"
                data-ng-unique="{key: customer.id, property: 'email'}"
                required class="width-50">
    </label>
    <label>
        Telephone <span class="error" ng-show="editForm.telephone.$error.unique">Telephone number already in use</span>
        <input type="tel" name="telephone" 
                ng-model="customer.telephone"
                ng-pattern="/^\+?\d{1,2}?[- ]?\(?\d{3}?\)?[- ]?\d{3}[- ]?\d{4}$/"
                ng-class="{'input-error': editForm.telephone.$invalid, 'input-success': editForm.telephone.$valid}"
                data-ng-unique="{key: customer.id, property: 'telephone'}"
                required class="width-50" placeholder="+XX (XXX) XXX-XXXX">
    </label>
    <label>
        Address
        <input type="text" name="address" ng-model="customer.address" class="width-50">
    </label>
    <label>
        Street
        <input type="text" name="street" ng-model="customer.street" class="width-50">
    </label>
    <label>
        City
        <input type="text" name="city" ng-model="customer.city" class="width-50">
    </label>
    <label>
        State
        <input type="text" name="state" ng-model="customer.state" class="width-50">
    </label>
    <label>
        Zip
        <input type="number" name="zip" ng-model="customer.zip" class="width-25" ng-class="{'input-error': editForm.zip.$invalid}">
    </label>
    <p>
        <button class="btn btn-big btn-blue" ng-disabled="editForm.$invalid||editForm.$pristine" ng-click="save()">Save</button>
        <a href="#/list" class="btn btn-big btn-green">Cancel</a>
    </p>
</form>